<div class="container mt-5 border-gray p-5" style="border-radius: 10px;">

    <h1 style="text-align: center; color:#54748c" class="mb-3">Contact Us!</h1>
    <div class="row">
    <div class="col-lg-5">

        <form action="#">
            <div class="form-group">
                <label for="Name">Email <span style="color:red">*</span></label>
                <input type="text" name="email" class="form-control" [(ngModel)]="email">
    </div>
    <div class="form-group">
        <label for="Name">Subject <span style="color:red">*</span></label>
        <input type="text" class="form-control" name="subject" [(ngModel)] ="subject">
    </div>
    <div class="form-group">
        <label for="Name">Message <span style="color:red">*</span></label>
        <textarea name="Text1" class="form-control" cols="40" rows="5" name="message" [(ngModel)]="message"></textarea>
    </div>
    <button class="btn btn-primary">Send</button>
</form>
</div>
<div class="col-lg-7 dashed-border" *ngIf="email">
    <h2 style="padding-bottom: 20px;">Message preview</h2>
    <div class="border-gray">
        <h3>{{subject}}</h3>
    </div>
    <p style="margin-left: 10px; font-style: italic;"><{{email}}></p>
    <div class="border-gray">
        <p>{{message}}</p>
    </div>
</div>
</div>
</div>