<div class="container" style="padding:20px; box-sizing:border-box; margin-top:20px">
  <ul>
    <li *ngFor="let message of messageService.messages">{{message}}</li>
  </ul>
    <h1>Featured cars</h1>
    
    <div class="row justify-content-around">
        <div class="card text-center" [class.selected]="car.name === selectedcar" [class.details-select]="savedCar && car.name == savedCar.name" style="width: 19rem; border-radius:20px" *ngFor="let car of cars | slice:0:3;">
            <img class="card-img-top" src="{{car.imgUrl}}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{car.name}}</h5>
              <h1>{{car.price}}BAM <span style="font-size: 14px;">/ day</span></h1>
              <p class="card-text">{{car.details | slice:0:120}}...</p>
            </div>
            <div class="card-footer">
              <button class="btn btn-outline-dark" [class.btn-popular]="car.name === selectedcar" (click)="openDetails(car)">Details</button>
            </div>
          </div>
    </div>
    <app-car-details [car] = savedCar></app-car-details>
    <app-contact-us></app-contact-us>
    <button (click)="addMessage()">Add message</button>
    <button (click)="clearMessages()">Clear messages</button>

    
</div>
