<div class="container" style="border:1px solid rgb(241, 241, 241); padding:20px; box-sizing:border-box; margin-top:20px">

    <h1>Featured cars</h1>
    
    <div class="row justify-content-between">
        <div class="card" style="width: 22rem; border-radius:20px">
            <img class="card-img-top" src="https://www.audi.co.uk/content/dam/audiadaptive/Finance-and-Offers/finance-hub/1.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{title}}</h5>
              <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
              <div class="form-group">

                <input type="text" class="form-control" id="newTitle" placeholder="Enter new title">
                <a  class="btn btn-primary mt-2" (click)="myFunc()">Change title</a>
              </div>
            </div>
          </div>
          
          <div class="card" style="width: 22rem; border-radius:20px">
            <img class="card-img-top" src="https://www.audi.co.uk/content/dam/audiadaptive/Finance-and-Offers/finance-hub/1.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Car two</h5>
              <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
              <a href="#" class="btn btn-primary">Details</a>
            </div>
          </div>

          <div class="card" style="width: 22rem; border-radius:20px">
            <img class="card-img-top" src="https://www.audi.co.uk/content/dam/audiadaptive/Finance-and-Offers/finance-hub/1.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Car three</h5>
              <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
              <a href="#" class="btn btn-primary">Details</a>
            </div>
          </div>
    </div>
</div>